# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\[G].Data Structure & Algorithm Courses\Github Clones\CSE 203_204_DSALGO 1\CSE-203_204_DSALGO-1\CSE 204\Week 2\1805004_Week2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
